@font-face {
    font-family: 'Gilroy ExtraBold';
    font-style: normal;
    src: url('fonts/Gilroy-Extrabold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy Regular';
    font-style: normal;
    src: url('fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy Medium';
    font-style: normal;
    src: url('fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat ExtraBold';
    font-style: normal;
    src: url('fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

#img-logo {
    height: 65px;
}

body {
    background-color: aliceblue;
}

a {
    text-decoration: none;
}

h2 {
    font-family: 'Montserrat ExtraBold', serif;
}

h3, h4, button {
    font-family: 'Gilroy ExtraBold', serif;
}

label, input, textarea, select, tr, h5, h6 {
    font-family: 'Gilroy Medium', serif;
}

p, a, td {
    font-family: 'Gilroy Regular', serif;
}

main {
    min-height: 76vh;
    display: flex;
    flex-direction: column;
}

.font-gilroy-extra-bold {
    font-family: 'Gilroy ExtraBold', serif;
}

.font-gilroy-medium {
    font-family: 'Gilroy Medium', serif;
}

.font-gilroy-regular {
    font-family: 'Gilroy Regular', serif;
}

.font-montserrat-extra-bold {
    font-family: 'Montserrat ExtraBold', serif;
}

.nav-body, .nav-body a {
    background-color: tomato;
    color: white;
}

.article-center {
    margin: 0 auto;
}

.btn, .btn-primary, .page-item.active .page-link {
    background-color: tomato;
    border-color: tomato;
    color: white;
    font-family: 'Gilroy ExtraBold', serif;
}

.page-item .page-link {
    color: tomato;
}

.btn:hover, .btn-primary:hover {
    background-color: #F84F2DFF;
    border-color: #F84F2DFF;
    color: white;
}

.btn:active, .btn-primary:active, .btn:active:focus, .btn-primary:active:focus, .btn:active:hover, .btn-primary:active:hover {
    background-color: #d22a0c;
    border-color: #D22A0CFF;
    color: white;
}

.btn-secondary {
    background-color: #ff9780;
    border-color: #FF9780FF;
    color: white;
    font-family: 'Gilroy ExtraBold', serif;
}

.btn-secondary:hover {
    background-color: #FF6347;
    border-color: #FF6347;
    color: white;
}

.btn-secondary:active, .btn-secondary:active:focus, .btn-secondary:active:hover {
    background-color: #F84F2D;
    border-color: #F84F2D;
    color: white;
}

.img-order {
    height: 25px;
}

.img-main {
    height: 400px;
}